{% extends 'inky/base.html' %}
{% block title %} about {% endblock %}
{% block extra_css %}
  div {
    border:1px solid black;
  }
{% endblock %}
{% block world %}
  <nav class="navbar">

    <span class="navbar-item navbar-brand">one</span>
    <span class="navbar-item">two</span>
    <span class="navbar-item">three</span>

  </nav>
<div class="container">
<div class="row">
  <div class="col col-9">
    nine
  </div>
  <div class="col col-3 text-right">
    three
  </div>
</div>
<div style="
  border:1px dashed cornflowerblue;
  padding:5px;
  margin:5px;
  height:200px;
  width:40vw;
  height:20vw;
  min-height:50px;
  max-height:200px;
  min-width:50px;
  max-width:200px;
  overflow:hidden;
  text-align:center;
  vertical-align: middle;
">
  THIS CONTAINER SCALES WITH VIEWPORT WIDTH, TO A POINT
</div>
</div>

{% endblock %}
