{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Inkpressure.com | {% block title %}Title{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
{% comment %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/inkpr essure_magik.css' %}">
{% endcomment %}
  <link rel="stylesheet" type="text/css" href='css/inkpressure.css'>
  <link rel="icon" type="image/.ico" href="{% static 'img/black_spray_colors_can.ico' %}"/>
  <script type="text/javascript" src="js/inkpressure.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
  <style type="text/css">
    {% block extra_css %}{% endblock %}
  </style>
  {% block extra_js %}

  {% endblock %}

</head>

<body>
  <nav id="debug-nav" class="debug navbar">
        <img src="{%  static 'img/tv.svg' %}" class="nav-item web debug-icon" />
        <img src="{%  static 'img/cellphone.svg' %}" class="nav-item mobile debug-icon" />
      <span class="nav-item">DEBUG</span>
      <span class="nav-item mobile">MOBILE</span>
      <span class="nav-item web">WEB</span>
  </nav>
  {% block world %}
<div id="site-mobile" class="container mobile">
  {% block mobile-full %}
    <nav class="navbar" id="nav-mobile" class="res">
      <span class="navbar-item text-left">
        <img src="{% static 'img/Inkpressure_animation.svg' %}" id="mobile-logo-anim" />
      </span>
      <span class="navbar-item text-right"ink">
        <a href="#">
        <img src="{% static 'img/fingerprint_colored.svg' %}" id="mobile-logo-print" />
        </a>
      </span>
    </nav>
      </div>
    </nav>
  <div id="spray" class="container-fluid">

  </div>
  {% endblock %}
    </div>

<div id="site-web" class="container web d-sm-none d-md-flex">
  {% block web-full %}
    <nav class="navbar-expand" id="web-nav">
      <img class="nav-brand nav-item web-logo" src="{% static 'img/Inkpressure_animation.svg' %}" id="web-logo-anim" />
      <a href="#" onclick="handleConfigClick()">
        <img class="nav-brand nav-item web-logo" src="{% static 'img/fingerprint_colored.svg' %}" id="web-logo-print" />
      </a>
    </nav>
    <div id="web-acct" class="web-modal">
      {% if user.isAuthenticated %}
        You are logged in as {{  user.getName }}
      {% else %}
        <div class="container">
        <div class="row">
          <div class="col col-1 text-center">
            <a href="#"><img class="social-icon" src="{%  static 'img/facebook.svg' %}"/></a>
            <a href="#"><img class="social-icon" src="{%  static 'img/google-plus.svg' %}"/></a>
            <a href="#"><img class="social-icon" src="{%  static 'img/twitter.svg' %}"/></a>
{% comment %}
            <a href="#"><img class="social-icon" src="{%  static 'img/linkedin.svg' %}"/></a>
{% endcomment %}
          </div>
          <div class="col col-10 text-center">
            <span id="web-welcome">Welcome to InkPressure!</span>
                         <hr />
            <span id="web-login-text">If you do not have an InkPressure
            account yet, we'll create one for you when you link an account on
            the left.</span>
          </div>
          <div class="col col-1">
            <a class="web-icon" href="#" onclick="handleConfigClose()">X</a>
          </div>
        </div>
        </div>
      {% endif %}
    </div>
  {% endblock %}
</div>
{% endblock %}
</body>
</html>
