{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Inkpressure.com | {% block title %}Title{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
{% comment %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/inkpr essure_magik.css' %}">
{% endcomment %}
  <link rel="stylesheet" type="text/css" href='css/inkpressure.css'>
  <link rel="icon" type="image/.ico" href="{% static 'img/black_spray_colors_can.ico' %}"/>
  <style type="text/css">{% block extra_css %}{% endblock %}</style>
  {% block extra_js %}{% endblock %}

</head>

<body>
  <nav id="debug-nav" class="debug navbar">
        <img src="{%  static 'img/tv.svg' %}" class="nav-item web debug-icon" />
        <img src="{%  static 'img/cellphone.svg' %}" class="nav-item mobile debug-icon" />
      <span class="nav-item">DEBUG</span>
      <span class="nav-item mobile">MOBILE</span>
      <span class="nav-item web">WEB</span>
  </nav>
  {% block world %}
<div id="site-mobile" class="container mobile">
  {% block mobile-full %}
    <div class="row" id="mobile-logo-bar">
      <div class="col col-9 text-left">
        <img src="{% static 'img/Inkpressure_animation.svg' %}" id="mobile-logo-anim" class="mobile-top"/>
      </div>
      <div class="col col-3 text-right">
        <img src="{% static 'img/fingerprint_colored.svg' %}" id="mobile-logo-spray" class="mobile-top"/>
      </div>
    </div>

  <div id="spray" class="container-fluid">

  </div>
  {% endblock %}
    </div>

<div id="site-web" class="container web d-sm-none d-md-flex">
  {% block web-full %}
    <nav class="navbar-expand">
      <div class="nav-brand" id="web-logo">
        <img src="{% static 'img/fingerprint_colored.svg' %}" id="web-logo-fingerprint" />
      </div>
    </nav>
  {% endblock %}
</div>
{% endblock %}
</body>
</html>
