{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Inkpressure.com | {% block title %}Title{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
{% comment %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/inkpr essure_magik.css' %}">
{% endcomment %}
  <link rel="stylesheet" type="text/css" href='css/inkpressure.css'>
  <link rel="icon" type="image/.ico" href="{% static 'img/black_spray_colors_can.ico' %}"/>
  {% block extra_css %}{% endblock %}
  {% block extra_js %}{% endblock %}

</head>

<body>
  <nav id="debug-nav" class="debug navbar-expand-sm">
    <ul class="navbar-nav nav-justified d-flex d-align-items-center">
      <li class="nav-item justify-content-start">
          <a class="navbar-brand" href="#">
        <img src="{%  static 'img/tv.svg' %}" class="web debug-icon" />
        <img src="{%  static 'img/cellphone.svg' %}" class="mobile debug-icon" />
      </a>
      </li>
      <li class="nav-item navbar-text justify-content-start mobile">MOBILE</li>
      <li class="nav-item navbar-text justify-content-start web">DESKTOP</li>
      <li class="nav-item navbar-text justify-content-start ">DEBUG</li>
    </ul>
  </nav>
<div id="site-mobile" class="container-fluid mobile d-flex d-md-none">
  {% block mobile-full %}
    <div class="row">
      <div class="col-9 align-top">
        <img src="{% static 'img/Inkpressure_animation.svg' %}" id="mobile-logo-anim" class="mobile-top"/>
      </div>
      <div class="col-3 align-top">
        <img src="{% static 'img/fingerprint_colored.svg' %}" id="mobile-logo-spray" class="mobile-top"/>
      </div>
    </div>

  <div id="spray" class="container-fluid">

  </div>
  {% endblock %}
    </div>

<div id="site-web" class="container web d-sm-none d-md-flex">
  {% block web-full %}
    <nav class="navbar-expand">
      <div class="nav-brand" id="web-logo">
        <img src="{% static 'img/fingerprint_colored.svg' %}" id="web-logo-fingerprint" />
      </div>l
    </nav>
  {% endblock %}
</div>
</body>
</html>
