{% extends 'inky/base.html' %}
{% load staticfiles %}
{% block title %} colors {% endblock %}
{% block extra_js %}
  <script src="{% static 'js/iro.min.js' %}"></script>
{% endblock %}
{% block content %}
<div id="color-picker-container"></div>
<script>
var picker = new iro.ColorPicker("#color-picker-container", {
  // Set the size of the color picker UI
  width: 500,
  height: 320,
  // Set the initial color to red
  color: "#f00",
});
function exm(color) {
  alert(color.hexString)
}
picker.on("input:end", exm)
</script>
{% endblock %}
