 {% load staticfiles %}

#debug-nav {
  color: black;
  font-weight:bold;
  font-size:1.7em;
  background-color: lightgoldenrodyellow;
  border-bottom: 5px darkslategrey ridge;
}

 .debug-icon {
   height:36px;
   width:36px;
 }

 @media (max-width: 767px) { .web    { visibility: hidden !important; display:none; }}
 @media (min-width: 768px) { .mobile { visibility: hidden !important; display:none; }}

/* div { border:1px dashed black; }*/

 * { margin: 0; }
 html, body { height:100%; }
 html { overflow:hidden; }

#nav-mobile {

  width:100%;
  border:1px dotted blue;
}

#mobile-logo-anim {
  /*min-height:24px;*/
  height: 15vh;
  width: auto; /*
   height: -webkit-calc(100%);
   height: -moz-calc(100%);
   height: calc(100%);
  min-height: 48px;
  max-height: 100px;
  width: auto !important;*/
  border:1px solid red;
}

#mobile-logo-print {
  height: 15vh;
  width: auto;
  /*
  min-height: 48px;
  max-height: 100px;
  width: auto !important;*/
  /*border:1px solid green;*/
}

.web-logo {
  height:100px;
  width:auto;
}

/* temporary, fix the logo */
 #web-logo-anim {
   height:200px;
 }


 #web-acct {
   position: absolute;
   top:200px;
   left-min:50px;
   right-min:50px;
   width:70vw;
   height:60vh;
   background-color:lightcyan;
   border:20px blue ridge;
   border-radius:10vh;
   padding:5vh;
   font-family: 'Coiny', cursive;
   font-size:24px;
   /*visibility:hidden;*/
   z-index:100;
 }

 .web-icon {
   font-size:24px;
   color:steelblue;
 }

 #web-welcome {
   color:royalblue;
   text-shadow:1px 1px steelblue;
 }

 #web-login-text {
    color:darkblue;
    text-shadow:1px 1px deepskyblue;
 }
 .social-icon {
   width:24px;
   height:24px;
 }
/*
#spray {
  background-image:url('{% static "img/can.svg" %}');
}*/

/*// Small devices (landscape phones, 576px and up)*/
/*
@media (max-width: 768px) {
  div#site-web, li#debug-web {
    visibility: hidden;
    display:none;
  }
    div#site-mobile, li#debug-mobile {
      visibility: visible;
      display: flex;
  }
}

!*!/ Medium devices (tablets, 768px and up)*!
@media (min-width: 768px) {  }

 @media (min-width: 769px) {
  div#site-mobile {
    visibility: hidden;
    display:none;
  }
    div#site-web {
      visibility: visible;
      display: flex;
  }
 }

!*!/ Large devices (desktops, 992px and up)*!
@media (min-width: 992px) {  }

!*!/ Extra large devices (large desktops, 1200px and up)*!
@media (min-width: 1200px) {  }
*/
