 {% load staticfiles %}

#debug-nav {
  color: black;
  font-weight:bold;
  font-size:1.7em;
  background-color: lightgoldenrodyellow;
  border-bottom: 5px darkslategrey ridge;
}

 .debug-icon {
   height:36px;
   width:36px;
 }

 @media (max-width: 767px) { .web    { visibility: hidden !important; }}
 @media (min-width: 768px) { .mobile { visibility: hidden !important; }}

 div { border:1px solid black; }

#mobile-logo-bar {
  height:48px;
  min-height: 10%;
  max-height: 20%;
}

#mobile-logo-anim {
  height: 100%;
  width: auto;
  border:1px solid red;

}

#mobile-logo-spray {
  height: 100%;
  width: auto;
  border:1px solid green;

}

/*
#spray {
  background-image:url('{% static "img/can.svg" %}');
}*/

/*// Small devices (landscape phones, 576px and up)*/
/*
@media (max-width: 768px) {
  div#site-web, li#debug-web {
    visibility: hidden;
    display:none;
  }
    div#site-mobile, li#debug-mobile {
      visibility: visible;
      display: flex;
  }
}

!*!/ Medium devices (tablets, 768px and up)*!
@media (min-width: 768px) {  }

 @media (min-width: 769px) {
  div#site-mobile {
    visibility: hidden;
    display:none;
  }
    div#site-web {
      visibility: visible;
      display: flex;
  }
 }

!*!/ Large devices (desktops, 992px and up)*!
@media (min-width: 992px) {  }

!*!/ Extra large devices (large desktops, 1200px and up)*!
@media (min-width: 1200px) {  }
*/
