asn1crypto==0.24.0
awsebcli==3.14.11
backports.ssl-match-hostname==3.7.0.1
beautifulsoup4==4.6.3
blessed==1.15.0
botocore==1.12.92
cached-property==1.5.1
ccsm==0.9.13.1
cement==2.8.2
certifi==2018.11.29
chardet==3.0.4
colorama==0.3.9
compizconfig-python==0.9.13.1
configparser==3.5.0b2
cryptography==2.3
Django==1.11.20
django-socialnetworks==0.4.12
docker==3.7.0
docker-compose==1.23.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
duplicity==0.7.17
entrypoints==0.2.3.post3
enum34==1.1.6
fasteners==0.12.0
functools32==3.2.3.post2
html5lib==1.0.1
idna==2.8
ipaddress==1.0.22
jmespath==0.9.3
jsonschema==2.6.0
keyring==15.1.0
keyrings.alt==3.1
lockfile==0.12.2
lxml==4.2.5
monotonic==1.0
numpy==1.14.5
oauthlib==3.0.1
pathspec==0.5.5
pycairo==1.16.2
pycrypto==2.6.1
pyenchant==2.0.0
PyGObject==3.30.1
pygtkspellcheck==4.0.5
python-apt==1.7.0
python-dateutil==2.8.0
pytz==2018.9
pyxdg==0.25
PyYAML==3.13
requests==2.21.0
requests-oauthlib==1.2.0
scour==0.37
SecretStorage==2.3.1
semantic-version==2.5.0
six==1.11.0
termcolor==1.1.0
texttable==0.9.1
Unidecode==1.0.23
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5
websocket-client==0.54.0
zeitgeist-explorer==0.2
zim==0.68
